<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>To Do List</title>
</head>

<body>

    <ul class="navbar">
        <div class="logo"></div>
        <ul class="links">
            <a href="/"><li class="navbar-link day-li">Present Day List</li></a>
            <a href="/work"><li class="navbar-link work-li">Work List</li></a>
        </ul>
    </ul>